<h2>Listado de libros</h2>
<hr>

<div class="row">
    <div class="col-8">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col" ng-click="campo='id';orden=!orden">Id</th>
                <th scope="col" ng-click="campo='isbn';orden=!orden">I.S.B.N.</th>
                <th scope="col" ng-click="campo='titulo';orden=!orden">Título</th>
                <th scope="col" ng-click="campo='autor';orden=!orden">Autor</th>
                <th scope="col" ng-click="campo='paginas';orden=!orden">Páginas</th>
                <th scope="col" ng-click="campo='formato';orden=!orden">Formato</th>
                <th scope="col" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="libro in vm.libros | orderBy:campo:orden"> 
                    <th>{{ libro.id }}</th>
                    <td>{{ libro.isbn }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.paginas }}</td>
                    <td>
                        {{ (libro.digital)?'Digital':'Físico' }}
                        <ul>
                            <li ng-repeat="formato in libro.formatos">{{ formato }}</li>
                        </ul>
                    </td>
                    <td>
                        <span ng-click="vm.editarLibro(libro)"><i class="fas fa-pen-square fa-2x text-info"></i></span>
                        <i class="fas fa-minus-square fa-2x text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="col-4 bg-warning">
        <h3>{{ vm.tituloseccion }}</h3>
        <h3>Formatos: {{ vm.formatos }} -</h3>

        <form>
            <div class="form-group row">
                <div class="col-3 text-right">
                    <label for="isbn">I.S.B.N.:</label>    
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="isbn" ng-model="vm.libroFormulario.isbn"  placeholder="I.S.B.N. del libro">
                </div> 
            </div> <!-- isbn -->

            <div class="form-group row">
                <div class="col-3 text-right">
                    <label for="title">Titulo:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="title" ng-model="vm.libroFormulario.titulo" placeholder="Título del libro">
                </div> 
            </div> <!-- titulo -->

            <div class="form-group row">
                <div class="col-3 text-right">
                    <label for="autor">Autor:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control"  ng-model="vm.libroFormulario.autor"  id="autor" placeholder="Autor del libro">
                </div>
            </div> <!-- autor -->

            <div class="form-group row">
                <div class="col-3 text-right">
                    <label for="paginas">Páginas:</label>
                </div>
                <div class="col-9">
                    <input type="number" class="form-control" ng-model="vm.libroFormulario.paginas"  id="paginas" placeholder="Número de paginas del libro">
                </div>
            </div> <!-- paginas -->

            <div class="form-group row">
                <div class="col-3 text-right">
                    <label for="formato">Formato:</label>
                </div>
                <div class="col-9">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input" name="digital" id="digital" ng-checked="vm.libroFormulario.digital">
                                <label class="form-check-label" for="papel">Digital</label>
                            </div>
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input" name="digital" id="papel" ng-checked="!vm.libroFormulario.digital">
                                <label class="form-check-label" for="papel">Papel</label>
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                </div>
            </div> <!-- formato -->

<!--
            <div class="form-group">
                <p>Tipo:</p>
                <div class="form-check form-check-inline" ng-repeat="formato in vm.formatos">
                      <input class="form-check-input" type="checkbox" id="{{formato}}" ng-checked="vm.libroFormulario.formatos[$index]" value="{{formato}}">
                      <label class="form-check-label" for="{{formato}}">{{formato}}</label>
                </div>
               
            </div>
 -->
     </form>
      <button  class="btn btn-success" type="submit" ng-click="vm.crear()" ng-show="(vm.libroEditar)?false:true">Crear</i></button>
      <button  class="btn btn-success" type="submit" ng-click="vm.editar()" ng-show="(vm.libroEditar)?true:false">Guardar</i></button>



    </div>

</div>





<hr><hr><hr><hr>
<div class="row">
        <div class="col" ng-repeat="libro in vm.libros">
            <div class="card" style="width: 18rem;" >
                <div class="card-body">
                <h5 class="card-title">{{ libro.titulo }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ libro.autor }}</h6>
                <p class="card-text">
                    <ul>
                        <li>I.S.B.N.: {{ libro.isbn }}</li>
                        <li>Páginas: {{ libro.paginas }}</li>
                        <li>Formato: {{ (libro.digital)?'Digital':'Físico' }}
                            <ul>
                                <li ng-repeat="formato in libro.formatos">{{ formato }}</li>
                            </ul>
                        </li>
                    </ul>
                </p>
                
                </div>
            </div>
        </div>
    </div>




