<h2>Listado de libros</h2>
<hr>

<div class="row">
    <div class="col-8">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col" ng-click="campo='id';orden=!orden">Id</th>
                <th scope="col" ng-click="campo='isbn';orden=!orden">I.S.B.N.</th>
                <th scope="col" ng-click="campo='titulo';orden=!orden">Título</th>
                <th scope="col" ng-click="campo='autor';orden=!orden">Autor</th>
                <th scope="col" ng-click="campo='paginas';orden=!orden">Páginas</th>
                <th scope="col" ng-click="campo='formato';orden=!orden">Formato</th>
                <th scope="col" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="libro in vm.libros | orderBy:campo:orden"> 
                    <th>{{ libro.id }}</th>
                    <td>{{ libro.isbn }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.paginas }}</td>
                    <td>
                        {{ (libro.digital)?'Digital':'Físico' }}
                        <ul>
                            <li ng-repeat="formato in libro.formatos">{{ formato }}</li>
                        </ul>
                    </td>
                    <td>
                        <span ng-click="vm.editarLibro(libro)"><i class="fas fa-pen-square fa-2x text-info"></i></span>
                        <i class="fas fa-minus-square fa-2x text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="col-4 bg-warning">
        <h3>{{ vm.tituloseccion }}</h3>
        <form class="form-horizontal" name="libroFormulario" novalidate>
            <div class="form-group">
                <div>
                    <input type="text" 
                        class="form-control" 
                        id="id" name="id"
                        ng-model="vm.libroFormulario.id" readonly placeholder="Id">
                </div>
                <div class="col" ng-class="(libroFormulario.isbn.$valid || libroFormulario.$pristine)?'has-success':'has-error'">
                    <input type="text" 
                            class="form-control" 
                            id="isbn" name="isbn"
                            ng-model="vm.libroFormulario.isbn" required placeholder="I.S.B.N. del libro.">
                    <p class="help-block" ng-hide="libroFormulario.isbn.$valid || libroFormulario.$pristine">
                        Este campo es necesario
                    </p>
                </div>
                <div class="col" ng-class="(libroFormulario.titulo.$valid || libroFormulario.$pristine)?'has-success':'has-error'">
                    <input type="text" 
                            class="form-control" 
                            id="titulo" name="titulo"
                            ng-model="vm.libroFormulario.titulo" required placeholder="Nombre del libro.">
                    <p class="help-block" ng-hide="libroFormulario.titulo.$valid || libroFormulario.$pristine">
                        Este campo es necesario
                    </p>
                </div>
                <div class="col" ng-class="(libroFormulario.autor.$valid || libroFormulario.$pristine)?'has-success':'has-error'">
                    <input type="text" 
                            class="form-control" 
                            id="autor" name="autor"
                            ng-model="vm.libroFormulario.autor" required placeholder="Autor del libro.">
                    <p class="help-block" ng-hide="libroFormulario.autor.$valid || libroFormulario.$pristine">
                        Este campo es necesario
                    </p>
                </div>
            </div>

    </div>

</div>





<hr><hr><hr><hr>
<div class="row">
        <div class="col" ng-repeat="libro in vm.libros">
            <div class="card" style="width: 18rem;" >
                <div class="card-body">
                <h5 class="card-title">{{ libro.titulo }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ libro.autor }}</h6>
                <p class="card-text">
                    <ul>
                        <li>I.S.B.N.: {{ libro.isbn }}</li>
                        <li>Páginas: {{ libro.paginas }}</li>
                        <li>Formato: {{ (libro.digital)?'Digital':'Físico' }}
                            <ul>
                                <li ng-repeat="formato in libro.formatos">{{ formato }}</li>
                            </ul>
                        </li>
                    </ul>
                </p>
                
                </div>
            </div>
        </div>
    </div>




