body{
    margin-bottom: 75px;
}
.active{
    color:teal;
    font-weight: 800;
    border-bottom: 3px solid teal;
}

nav a {
    text-decoration: none;
}

.vacio{
    /*color: #F678A;*/
    color: red;
    font-style: italic;
}

.lleno{
    /*color: #F678A;*/
    color: green;
}